<%- include("header") -%>

<h2>About Todolist.</h2>

<p>This website is built using Node.js, Express.js and EJS. You can add and delete the list items. You can also make your new list by just typing list title in the url.</p>

<%- include("footer") -%>
